/* CSS Document */
*{
padding:0px;
margin:0px;
font-family: Arial;
color:#2A0000;
}
header{
margin:10px auto;
text-align:center;
}
header h1{
font-weight:bold;
}
header a{
width:100px;
height:30px;
margin:0px auto;
margin-top:10px;
line-height:30px;
display:block;
border-radius:5px;
text-decoration:none;
background-color:#FFCCFF;
}

header a:hover{
background-color:#99FFCC;
}
header #score{
margin-top:10px;
font-weight:bold;
}
#grid-container{
width:460px;
height:460px;
padding:20px;
margin:0px auto;
border-radius:25px;
background-color:#FFCCFF;
position:relative;
}
.grid-cell{
width:100px;
height:100px;
position:absolute;
border-radius:10px;
background-color:#CCFFFF;
}
.number-cell{
width:100px;
height:100px;
text-align:center;
font-family: Arial;
font-weight: bold;
font-size: 60px;
line-height:100px;
position:absolute;
border-radius:10px;
}
.gameover{
display: block;
margin: 0 auto;
border-radius: 10px;
text-align: center;
vertical-align: middle;
position: absolute;
}
.gameover p {
font-size: 50px;
color: white;
margin: 20px auto;
margin-top: 150px;
}
.gameover span {
font-size: 50px;
color: white;
margin: 20px auto;
}

#restartgamebutton {
display: block;
margin: 20px auto;
width: 180px;
padding: 10px 10px;
background-color: #8f7a66;
font-size: 30px;
color: white;
border-radius: 10px;
text-decoration: none;
}

#restartgamebutton:hover {
background-color: #9f8b77;
}

